<table>
    <thead>
        <tr>
            <th>StationName</th>
            <th>StreetAddress</th>
            <th>IntersectionDirections</th>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
            <th>StationPhone</th>
            <th>StatusCode</th>
            <th>GroupsWithAccessCode</th>
            <th>AccessDaysTime</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.StationName}}</td>
            <td>{{this.StreetAddress}}</td>
            <td>{{this.IntersectionDirections}}</td>
            <td>{{this.City}}</td>
            <td>{{this.State}}</td>
            <td>{{this.ZIP}}</td>
            <td>{{this.StationPhone}}</td>
            <td>{{this.StatusCode}}</td>
            <td>{{this.GroupsWithAccessCode}}</td>
            <td>{{this.AccessDaysTime}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>